

{% block body %}






       {# <div class="row">
        
       <div  class="col-md-3">{% include "shared/_sidebar.html.twig" %}</div>
        
                <div  class="col-md-9"> {% include "shared/_messages_flash.html.twig" %}{% include "shared/_slide.html.twig" %}
       
                        <section class="sect2">
                                <div class="box">
                                        <h5>Bonjour  <span> {{app.user.firstname }} {{ app.user.lastname }}</span></h5>
                                        <p>
                                        Bienvenue sur l'espace étudiants de "..." Cet espace vous permet
                                        d'accèder aux services réservés à nos étudiants.
                                        </p>
                                        <br />
                                        <p>
                                        N'hésitez pas à consulter
                                        <a href="#">notre guide de présentation</a>
                                        </p>
                                </div>
                                <div class="box">
                                        <h6>MES DERNIERS DOCUMENTS ANNUELS</h6>
                                        <table>
                                                <tr>
                                                <th>Date</th>
                                                <th>Documents</th>
                                                <th>Télécharger</th>
                                                </tr>
                                                <tr>
                                                <td>22/04</td>
                                                <td>Documents</td>
                                                <td><i class="fas fa-arrow-circle-down"></i></td>
                                                </tr>
                                        </table>
                                </div>
                                <div class="box">
                                        <h6>MES PROCHAINS COURS</h6>
                                        <table>
                                                <tr>
                                                <th>Heure</th>
                                                <th>Matière</th>
                                                <th>Salle</th>
                                                </tr>
                                                <tr>
                                                <td>8h-10h</td>
                                                <td>matière</td>
                                                <td>3</td>
                                                </tr>
                                        </table>
                                </div>
                                <div class="box">
                                        <h6>MES DERNIERS SUPPORTS DE COURS</h6>
                                        <table>
                                                <tr>
                                                <th>Date</th>
                                                <th>matière/module</th>
                                                <th>Télécharger</th>
                                                </tr>
                                                <tr>
                                                <td>22/04</td>
                                                <td>matière/module</td>
                                                <td><i class="fas fa-arrow-circle-down"></i></td>
                                                </tr>
                                        </table>
                                </div>
                        </section>
                </div>
       
       </div> #}
         <div class="row">
              <div  class="col-md-3">
                     {% include "shared/_sidebar.html.twig" %} 
              </div>
              <div  class="col-md-9 slide">
                     {% include "shared/_slide.html.twig" %}
                     
              </div>
            
                  <section class="sect2">
                                <div class="box">
                                        <h5>Bonjour  <span> {{app.user.firstname }} {{ app.user.lastname }}</span></h5>
                                        <p>
                                        Bienvenue sur l'espace étudiants de "..." Cet espace vous permet
                                        d'accèder aux services réservés à nos étudiants.
                                        </p>
                                        <br />
                                        <p>
                                        N'hésitez pas à consulter
                                        <a href="#">notre guide de présentation</a>
                                        </p>
                                </div>
                                <div class="box">
                                        <h6>MES DERNIERS DOCUMENTS ANNUELS</h6>
                                        <table>
                                                <tr>
                                                <th>Date</th>
                                                <th>Documents</th>
                                                <th>Télécharger</th>
                                                </tr>
                                                <tr>
                                                <td>22/04</td>
                                                <td>Documents</td>
                                                <td><i class="fas fa-arrow-circle-down"></i></td>
                                                </tr>
                                        </table>
                                </div>
                                <div class="box">
                                        <h6>MES PROCHAINS COURS</h6>
                                        <table>
                                                <tr>
                                                <th>Heure</th>
                                                <th>Matière</th>
                                                <th>Salle</th>
                                                </tr>
                                                <tr>
                                                <td>8h-10h</td>
                                                <td>matière</td>
                                                <td>3</td>
                                                </tr>
                                        </table>
                                </div>
                                <div class="box">
                                        <h6>MES DERNIERS SUPPORTS DE COURS</h6>
                                        <table>
                                                <tr>
                                                <th>Date</th>
                                                <th>matière/module</th>
                                                <th>Télécharger</th>
                                                </tr>
                                                <tr>
                                                <td>22/04</td>
                                                <td>matière/module</td>
                                                <td><i class="fas fa-arrow-circle-down"></i></td>
                                                </tr>
                                        </table>
                                </div>
                        </section>
             
       </div>
    


{% endblock %}