{% extends 'base.html.twig' %}
{% block body %}
<div>  

    
       <div class="row">
        
       <div  class="col-md-3"> {% include "shared/_sidebar.html.twig" %}</div>
        
       <div  class="col-md-9">
       
            <h1 class="text-center">Planning</h1>
            <section class="tableauPlan">

                <table class="table-plan">
                
                    <thead>
                    
                    <tr>
                        <th><h1>Janvier</h1></th>
                        <th>8h-9h</th>
                        <th>9h-10h</th>
                        <th>11h-12h</th>
                        <th>14h-15h</th>
                        <th>15h-16h</th>
                        <th>16h-17h</th>
                        <th>17h-18h</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Lundi</th>
                        <td>Ecole</td>
                        <td>Repas</td>
                        <td>Ecole</td>
                        <td><i>Pause déjeune</i></td>
                        <td>activités</td>
                        <td>Garderie</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th>Mardi</th>
                         <td>Ecole</td>
                        <td>Repas</td>
                        <td>Ecole</td>
                        <td><i>Pause déjeune</i></td>
                        <td>activités</td>
                        <td>Garderie</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th>Mercredi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Jeudi</th>
                         <td>Ecole</td>
                        <td>Repas</td>
                        <td>Ecole</td>
                        <td><i>Pause déjeune</i></td>
                        <td>activités</td>
                        <td>Garderie</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <th>Vendredi</th>
                         <td>Ecole</td>
                        <td>Repas</td>
                        <td>Ecole</td>
                        <td><i>Pause déjeune</i></td>
                        <td>activités</td>
                        <td>Garderie</td>
                        <td>---</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table-plan">
                    <thead>
                    <tr>
                        <th></th>
                        <th>8h-9h</th>
                        <th>9h-10h</th>
                        <th>11h-12h</th>
                        <th>14h-15h</th>
                        <th>15h-16h</th>
                        <th>16h-17h</th>
                        <th>17h-18h</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Lundi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mardi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mercredi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Jeudi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Vendredi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table-plan">
                    <thead>
                    <tr>
                        <th></th>
                        <th>8h-9h</th>
                        <th>9h-10h</th>
                        <th>11h-12h</th>
                        <th>14h-15h</th>
                        <th>15h-16h</th>
                        <th>16h-17h</th>
                        <th>17h-18h</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Lundi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mardi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mercredi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Jeudi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Vendredi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table-plan">
                    <thead>
                    <tr>
                        <th></th>
                        <th>8h-9h</th>
                        <th>9h-10h</th>
                        <th>11h-12h</th>
                        <th>14h-15h</th>
                        <th>15h-16h</th>
                        <th>16h-17h</th>
                        <th>17h-18h</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Lundi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mardi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mercredi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Jeudi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Vendredi</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            </section>
       
       </div>
       
       </div>
       


     

        
      

        

</div>

         

{% endblock %}