 <footer id="footer" >
      <div class="footer_info">
          <div class="foo_footer_width about_foo text-center">
              <h2 >About</h2>
                <p>Le site est un site d'ecole primaire qui, accueille
              tous les enfants scolarisés. Ils y suivent trois années de
              scolarité :seconde,première et terminale. Il offre des voies de
              formation qui permettent l'expression de la variété des profils et
              des talents. Il permet la poursuite d'études supérieures ou
              l'accès à la vie professionnelle.</p>
            <div class="foo_social-media ">
                <ul class="foo_ul  offset-3" >
                    <li ><a href="#" class="foo_a" ><i class="fab fa-instagram " ></i></a></li>
                    <li ><a href="#" class="foo_a"><i class="fab fa-facebook" ></i></a></li>
                    <li ><a href="#" class="foo_a"><i class="fab fa-twitter" ></i></a></li>
                </ul>
            </div>
          </div>

        <div class="foo_footer_width link_foo text-center "></div>  
          <div class="foo_footer_width contactt_foo text-center  ">
              <h2 >Contact</h2>
              <ul class="foo_ul text-center col-5 " >
                  <li >
                      <span><i id="footerI" class="fas fa-map-marker" aria-hidden="true"></i></span>
                      <p id="footerItem">75 rue paris 75000</p>
                  </li>
                  <li >
                      <span><i id="footerI" class="far fa-envelope" class="text-white" style="color: white;" aria-hidden="true"></i></span>
                      <a href="#" id="footerItem" class="foo_a">ecole@ecole.net</a>
                  </li>
                  <li >
                      <span><i id="footerI" class="fas fa-phone" aria-hidden="true"></i></span>
                      <a href="#" id="footerItem" class="foo_a">07.00.11.22.33</a>
                  </li>
                  <li >
                      <span><i id="footerI" class="fas fa-user"></i></span>
                      <a href="index.php?action=login" id="footerItem" class="foo_a">Administartion</a>
                  </li>
              </ul>
          </div>
        
      </div>

      <div class="foo_copy-right">
        <p>copyright &copy;2021 MONECOLE_PRIMAIRE. designed by Talbi Chaymae</p>
        <a  href="{{ path('mention') }}">Mention Legale</a>
        <a  href="{{ path('cgu') }}">Condition générales d'utilisation</a>
     
      </div>
  </footer>